@media (max-width: 1441px) {
  .page {
    line-height: 27px;
  }
  .title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #5d5f60;
    letter-spacing: 3px;
  }
  .text {
    font-size: 22px;
    font-weight: 400;
  }
  .header .header-inner {
    width: 80%;
  }
  .header .header__link {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .text {
    line-height: 24px;
    font-size: 12px;
  }
  .title {
    font-size: 14px;
  }
  .first-type .first-type__description {
    margin: 12px;
  }
  .first-type .first-type__description .title {
    font-size: 14px;
    margin: 7px 0;
  }
  .first-type .first-type__description .text {
    line-height: 24px;
    font-size: 12px;
  }
  .second-type .second-type__description {
    margin: 12px;
  }
  .second-type .second-type__description .title {
    font-size: 14px;
    margin: 7px;
  }
  .second-type .second-type__description .text {
    line-height: 24px;
    font-size: 12px;
  }
  .third-type .third-type__description {
    margin: 12px;
  }
  .third-type .third-type__description .third-type__img-logo {
    width: 10%;
  }
  .third-type .third-type__description .title {
    font-size: 14px;
    margin: 7px 0;
  }
  .third-type .third-type__description .text {
    line-height: 24px;
    font-size: 12px;
  }
  .comment .comment__inner .comment__title {
    font-size: 16px;
  }
  .comment .comment__inner .comment__text {
    font-size: 20px;
  }
  .saddle .sadle__inner {
    width: 100%;
  }
  .saddle .sadle__inner .saddle__form {
    margin: 0 auto;
    width: 80%;
  }
  .footer .footer__inner {
    width: 90%;
    padding: 0 30px;
  }
  .footer .footer__inner .footer__adres {
    width: auto;
  }
}

@media (max-width: 700px) {
  .header .header-inner {
    width: 80%;
  }
}

@media (max-width: 560px) {
  .header .header-inner .header__link {
    display: none;
  }
  .header .header-inner .header__link-img {
    margin: 0 auto;
  }
  .intro__inner {
    height: 65vh;
  }
  .first-type {
    width: 100%;
    height: 75vh;
  }
  .first-type .first-type__inner {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0;
  }
  .first-type .first-type__img1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .first-type .first-type__img2 {
    display: none;
  }
  .first-type .first-type__description {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    margin: 25px;
  }
  .first-type .first-type__description .first-type__img-logo {
    width: 8%;
  }
  .first-type .first-type__description .title {
    margin: 5px 0;
    font-size: 14px;
  }
  .first-type .first-type__description .text {
    text-align: left;
    font-size: 12px;
  }
  .second-type {
    width: 100%;
    height: 75vh;
  }
  .second-type .second-type__inner {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0;
  }
  .second-type .second-type__img1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .second-type .second-type__img2 {
    display: none;
  }
  .second-type .second-type__description {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin: 25px;
  }
  .second-type .second-type__description .second-type__img-logo {
    width: 8%;
  }
  .second-type .second-type__description .title {
    margin: 5px 0;
    font-size: 14px;
  }
  .second-type .second-type__description .text {
    text-align: left;
    font-size: 12px;
  }
  .third-type {
    width: 100%;
    height: 87.5vh;
  }
  .third-type .third-type__inner {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
  }
  .third-type .third-type__img1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .third-type .third-type__img2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .third-type .third-type__img3 {
    display: none;
  }
  .third-type .third-type__description {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 / 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin: 15px 20px;
  }
  .third-type .third-type__description .third-type__img-logo {
    width: 4%;
    margin: 0;
  }
  .third-type .third-type__description .title {
    margin: 4px 0;
    font-size: 14px;
  }
  .third-type .third-type__description .text {
    text-align: left;
    font-size: 12px;
  }
  .third-type__description::after {
    margin-top: 10px;
  }
  .comment {
    height: 43.75vh;
  }
  .comment .comment__inner {
    width: 90%;
  }
  .comment .comment__inner .comment__title {
    margin-bottom: 25px;
    font-size: 14px;
  }
  .comment .comment__inner .comment__text {
    font-size: 18px;
    line-height: 27px;
  }
  .store {
    height: 80vh;
    width: 100%;
  }
  .store .store__inner {
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .store .store__img1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .store .store__img2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .store .store__img3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
  .store .store__img4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .store .store__img5 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  .store .store__img6 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  .store .store__img7 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .discover {
    height: 15vh;
  }
  .discover .discover__inner {
    width: 40%;
    text-align: center;
  }
  .discover .discover__inner .discover__button {
    padding: 10px 30px;
    font-size: 10px;
  }
  .saddle {
    width: 100%;
    height: 45vh;
  }
  .saddle .saddle__logo img {
    width: 15%;
  }
  .saddle .sadle__inner {
    width: 80%;
  }
  .saddle .sadle__inner .saddle__title {
    font-size: 20px;
    margin: 25px 0;
  }
  .saddle .sadle__inner .saddle__form {
    width: 100%;
  }
  .saddle .sadle__inner .saddle__form .saddle__input {
    padding: 10px;
    font-size: 15px;
    margin-right: 7px;
  }
  .saddle .sadle__inner .saddle__form .saddle__button {
    font-size: 20px;
  }
  .footer .footer__inner {
    width: 90%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .footer__inner .footer__adres {
    width: 33.3%;
  }
  .footer .footer__inner .footer__autor {
    display: none;
  }
}

@media (max-width: 426px) {
  .header .header-inner .header__nav {
    margin-top: 10px;
  }
  .header .header-inner .header__link-img img {
    width: 70%;
  }
  .intro__inner {
    height: 55vh;
  }
  .comment {
    height: 35vh;
  }
  .comment .comment__inner .comment__title {
    margin-bottom: 20px;
    font-size: 12px;
  }
  .comment .comment__inner .comment__text {
    font-size: 16px;
    line-height: 20px;
  }
  .footer .footer__inner {
    width: 90%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .footer__inner .footer__adres {
    font-size: 12px;
  }
  .footer .footer__inner .footer__autor {
    display: none;
  }
  .footer .footer__inner .footer__link {
    text-decoration: none;
  }
  .footer .footer__inner .footer__link .footer__link-img {
    width: 20%;
  }
}
